<%- include('template/header') %>
<div class="container-sm container-fluid">
    <h1>Error 404</h1>
    <br/>
    <h3>WHAT ARE YOU DOING HERE?</h3>
    <button type="button" class="btn btn-primary" onclick="window.location='/home'">Go to home</button>
</div>
<%- include('template/footer') %>