<%- include("template/header") %>
    <h1 style="font-size: large; color: red">Error!</h1>
    <div><%= error %></div>
    <button onclick="window.location='/home'">Go to home</button>
<%- include("template/footer") %>