<%- include('template/header') %>
    Hello, <%= username %>!
    <br />
    <button onclick="window.location='/members'">Go to your members area</button>
    <br/>
    <button onclick="window.location='/admin'">Go to admin area</button>

    <br />
    <button onclick="window.location='/logout'">Log out</button>
<%- include('template/footer') %>