<%- include('template/header') %>
        <button onclick="window.location='/signup'">Sign up</button>
        <button onclick="window.location='/login'">Log in</button>
    </body>
<%- include('template/footer') %>  