<%- include('template/header') %>
    Sign up
    <form action='/signin' method='post'>
        <input name="username" type="text" placeholder="Name">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="password">
        <button>Submit</button>
    </form>
<%- include('template/footer') %>