<%- include('template/header') %>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://i.pinimg.com/236x/1b/82/f1/1b82f178074f90f46828b1afbf90084e.jpg" alt="" width="100" height="100">
        <h1 class="display-5 fw-bold text-body-emphasis">The Poet</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to the website of super (un)inspirating phrases.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location='/signup'">Sign up</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location='/login'">Login</button>
        </div>
        </div>
    </div>
</body>
<%- include('template/footer') %>  