<li>
    <h4><%= user.username %>: <%= user.user_type %></h4>
    <form action='/changePermission' method='post'>
        <button name="permission" class="btn btn-danger" value="user">Demote to user</button>
        <button name="permission" class="btn btn-success" value="admin">Promote to admin</button>
        <input name="username" value=<%- user.username %> type="hidden"/>
    </form>
    <br/>
</li>